# All Operators

# Arithmetik Oparetor

In [1]:
x=12
y=5
z=3

In [2]:
x+y # Addition

17

In [3]:
x-y  # subtraction

7

In [4]:
x*y  #multi

60

In [5]:
x/y  #Divition

2.4

In [6]:
x**y

248832

In [7]:
x//y # floor divition

2

In [9]:
import math         
math.floor(x/y)

2

In [11]:
math.ceil(x/y)

3

# Identity operator

In [12]:
x=10
y=x
z=10

In [13]:
x is y

True

In [14]:
x is z

True

In [15]:
x= 100010
y=x
z=100010

In [16]:
x is y

True

In [17]:
x is z

False

In [18]:
id(x)

2824449949904

In [19]:
id(y)

2824449949904

In [20]:
id(z)

2824449950096

In [21]:
x is not z

True

# Membership Operaqtor

In [22]:
list1=[1,2,3,4,5,6,7]
1 in list1

True

In [23]:
4 in list1

True

In [4]:
10 in list1

NameError: name 'list1' is not defined

In [25]:
10 not in list1

True