In [1]:
tup1=()

In [2]:
type(tup1)

tuple

In [61]:
tup1=('afik','ds',True,4,5,7,[2,3,5])

In [4]:
type(tup1)

tuple

In [5]:
tup1[0]

'afik'

In [6]:
tup1[-1]  # -1 last index

[2, 3, 5]

In [7]:
tup1[2:6]

(True, 4, 5, 7)

In [8]:
tup2=['afikur rahman'] # list

In [9]:
type(tup2)

list

In [10]:
tup2=('afikur rahman')

In [11]:
type(tup2)

str

In [12]:
tup2=('afikur rahman',)

In [13]:
type(tup2)

tuple

In [14]:
tup2[0]

'afikur rahman'

In [15]:
l=list(tup2)   # tuple to list convet

In [16]:
l

['afikur rahman']

In [17]:
type(l)

list

In [18]:
l.append('shorif') # list value add korsi

In [19]:
l

['afikur rahman', 'shorif']

In [20]:
tup2=tuple(l)   # list to tuple convert

In [21]:
tup2

('afikur rahman', 'shorif')

In [22]:
type(tup2)

tuple

In [23]:
tup3=tuple([1,2,5,3,4])

In [24]:
tup3

(1, 2, 5, 3, 4)

In [25]:
type(tup3)

tuple

In [26]:
tup4='afik',4,5,6

In [27]:
type(tup4)

tuple

In [28]:
tup5='afik'

In [29]:
type(tup5)

str

In [30]:
tup6='afik',

In [31]:
type(tup6)

tuple

Tuple concatanation: 2 tuple add

In [33]:
tup3

(1, 2, 5, 3, 4)

In [34]:
tup6

('afik',)

In [35]:
tup3+tup6   # 2 tuple concatanation

(1, 2, 5, 3, 4, 'afik')

# Multification

In [36]:
tup3

(1, 2, 5, 3, 4)

In [37]:
tup3*2

(1, 2, 5, 3, 4, 1, 2, 5, 3, 4)

In [38]:
tup3*4

(1, 2, 5, 3, 4, 1, 2, 5, 3, 4, 1, 2, 5, 3, 4, 1, 2, 5, 3, 4)

# Count()

In [39]:
tup3=tup3*4

In [40]:
tup3

(1, 2, 5, 3, 4, 1, 2, 5, 3, 4, 1, 2, 5, 3, 4, 1, 2, 5, 3, 4)

In [41]:
tup3.count(4)

4

In [42]:
tup3.count(2)

4

# index method

In [43]:
tup3

(1, 2, 5, 3, 4, 1, 2, 5, 3, 4, 1, 2, 5, 3, 4, 1, 2, 5, 3, 4)

In [44]:
tup3.index(5)

2

In [45]:
tup3.index(2)

1

# Membership

In [46]:
tup6

('afik',)

In [47]:
'afik' in tup6

True

In [48]:
'shorif' in tup6

False

In [49]:
tup3

(1, 2, 5, 3, 4, 1, 2, 5, 3, 4, 1, 2, 5, 3, 4, 1, 2, 5, 3, 4)

In [50]:
tup3[0]= 'ai'

TypeError: 'tuple' object does not support item assignment

# Tuple iteration

In [52]:
tup2

('afikur rahman', 'shorif')

In [54]:
for i in tup2:
    print(i)

afikur rahman
shorif

In [55]:
tup1=('afik','ds',True,4,5,7,[2,3,5])

for i in tup1:
    print(i)

afik
ds
True
4
5
7
[2, 3, 5]

In [59]:
tup1[-1]

[2, 3, 5]

In [60]:
tup1[-1][0]

2